@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.bob4 {
    top: -400px;
    right: -400px;
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 1080px;
    object-fit: cover;
}

.bob4__square {
    content: "x";
    position: absolute;
    background: salmon;
    height: 538px;
    width: 538px;
    display: block;
    right: -120px;
    top: -120px;
    opacity: .1;
    visibility: hidden;
}

body {
    color: #fff;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.bazuzi {
    flex: 0 1 352px;    
}

path.expand_b_svg__v,
path.expand_b_svg__h {
    transition: all .3s;
    transform-origin: center;
}

.expState path.expand_b_svg__v {
    transform: rotate(90deg);
}

.expState path.expand_b_svg__h {
    transform: rotate(180deg);
}

.telly .MuiInputAdornment-root {
    color: #fff;
    border-right: 1px solid white;
    height: 100%;
    max-height: none;
    font-size: 12px;
}

.telly .MuiTypography-body1 {
    border: none;
}

.telly .MuiInputBase-input {
    color: #fff;
    font-size: 12px;
}

.MuiTelInput-Flag {
    color: hotpink;
}

@media (max-width: 1199px) {
    .bob4{
        width: 500px;
        right: -200px;
        top: 64px;
        z-index: 0;
        display: none;
    }
}

@media (max-width: 1600px) {
    .bob4{
        width: 700px;
        right: -30%;
        top: -128px;
        z-index: 0;
    }
}

.social {
    transition: all .3s ease;
}

.social:hover {
    border-radius: 100%;
    background: hsl(320deg 100% 91% / 30%);
    box-shadow: 0 0 10px 2px hotpink;
}

.gradients-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.input {
    background: #180728;
    border: 1px solid #fff;
    color: #fff;
    max-width: 424px;
}

label {
    font-size: 14px;
    margin-bottom: 12px;
}

.cross-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.cross-btn > svg {
    transition: all .3s ease;
}

.cross-btn:hover > svg {
    background: hsl(320deg 100% 91% / 30%);
    box-shadow: 0 0 10px 2px hotpink;
    border-radius: 14px;
}

.fade-up {
    background-image: linear-gradient(180deg, black, transparent);
}

.fade-down {
    background-image: linear-gradient(0deg, black, transparent);
}

.homepage {
    overflow: hidden;
}

.scroller__container {
    max-width: 960px;
    margin-inline: auto;
    opacity: 0.7;
}

.preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #010314;
    z-index: 99999;
    display: grid;
    place-content: center;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.preloader__vid {
    aspect-ratio: 1 / 1;
    width: 96px;
    height: auto;
    /* animation: pulse 1.5s infinite; */
}

.preloader.isVisible {
    opacity: 1;
    visibility: visible;
}

@keyframes pulse {
    50% {
        transform: scale(1.3);
    }
}

.stagger {
    opacity: 0;
    transform: translateY(20%);
    transition: all .6s ease-out;
}

.disappear {
    opacity: 0;
    line-height: 2;
}

.appear {
    transform: translateY(30%);
    animation: fadeInUp .6s ease-out forwards;
}

.appear-down {
    line-height: inherit;
    transform: translateY(-30%);
    animation: fadeInDown .6s ease-out forwards;
}

@keyframes fadeInUp {
    /* from {} */

    to {
        line-height: inherit;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        line-height: inherit;
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-grad-overflow {
    /* height: 200vh; */
    overflow: hidden;
    display: flex;    
    flex-flow: column;
    align-items: flex-start;
    position: relative;
}

.footer-grad-overflow {
    height: 200vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-top: -140vh;
}

.hero-grad-overflow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-top: 1px solid hotpink; */
    background: linear-gradient(180deg, transparent, #010314);
    display: block;
    z-index: 0;
}


:target {
    scroll-margin-top: 100px;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #262232;
    border-radius: 12px;
}


.scrollbar::-webkit-scrollbar-thumb {
    background-color: #3a3644;
    transition: all .3s ease;
    border-radius: 12px;
}

.menu-item {
    position: relative;
}

.menu-item:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background: #ffe3f1;
    box-shadow: 0 0 16px 1px hotpink;
    opacity: 0;
    transition: all .3s ease;
    left: 0;
    bottom: -4px;
}

.menu-item:hover:after {
    opacity: 1;
    animation: float 6s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-0.5deg);
    }

    50% {
        transform: translateY(-3px) rotate(1.5deg);
    }

    100% {
        transform: translateY(0) rotate(-0.5deg);
    }
}