@tailwind base;
@tailwind components;
@tailwind utilities;

.bob4 {
    top: -400px;
    right: -400px;
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 1080px;
    object-fit: cover;
}

.bob4__square {
    content: "x";
    position: absolute;
    background: salmon;
    height: 538px;
    width: 538px;
    display: block;
    right: -120px;
    top: -120px;
    opacity: .1;
    visibility: hidden;
}

body {
    color: #fff;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.bazuzi {
    flex: 0 1 352px;    
}

path.expand_b_svg__v,
path.expand_b_svg__h {
    transition: all .3s;
    transform-origin: center;
}

.expState path.expand_b_svg__v {
    transform: rotate(90deg);
}

.expState path.expand_b_svg__h {
    transform: rotate(180deg);
}

.telly .MuiInputAdornment-root {
    color: #fff;
    border-right: 1px solid white;
    height: 100%;
    max-height: none;
    font-size: 12px;
}

.telly .MuiTypography-body1 {
    border: none;
}

.telly .MuiInputBase-input {
    color: #fff;
    font-size: 12px;
}

.MuiTelInput-Flag {
    color: hotpink;
}

@media (max-width: 1592px) {
    .bob4{
        width: 500px;
        right: -200px;
        top: 64px;
        z-index: 0;
    }
}

.social {
    transition: all .3s ease;
}

.social:hover {
    border-radius: 100%;
    background: hsl(320deg 100% 91% / 30%);
    box-shadow: 0 0 10px 2px hotpink;
}

.gradients-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.input {
    background: #180728;
    border: 1px solid #fff;
    color: #fff;
    max-width: 424px;
}

label {
    font-size: 14px;
    margin-bottom: 12px;
}

.foo-close {
    position: absolute;
    right: 0;
}

.fade-up {
    background-image: linear-gradient(180deg, black, transparent);
}

.fade-down {
    background-image: linear-gradient(0deg, black, transparent);
}

.homepage {
    overflow: hidden;
}

/* .footer {
    overflow: hidden;
} */

.container {
    max-width: 1152px;
}

.disappear {
    opacity: 0;
    line-height: 2;
    transform: translateY(30%);
}

.appear {
    animation: fadeInUp .6s ease-out forwards;
}

@keyframes fadeInUp {
    /* from {} */

    to {
        line-height: inherit;
        opacity: 1;
        transform: translateY(0);
    }
}