@property --foo {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.box {
    transition:--foo 1.8s;
    background:linear-gradient(100deg, white, transparent var(--foo));
    background-clip: text;
    color: transparent;
    position: relative;
}

.isInView {
    --foo: 300%;
    /* we update on hover */
}